.notification 
        {
            padding: 2px 10px;
            position: relative;
            text-decoration: none;
        }
        
        /* .dropdown-toggle:after { content: none ;} */ 
        
        .notification .badge {
            position: absolute;
            top: -18px; 
            right: 5px;
            border-radius: 50%;
            padding: 5px 0px;
            background-color:#ff621e;
            color: white; 
            text-align: center; 
            font-size: 10px;
            width: 20px;
            font-weight: normal;
        
        }
        .container-fluid
        {
            padding: 10px;
        }

        .dropdown-submenu {
        position:relative;
        }
        .dropdown-submenu>.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
        } 


        .dropdown>.dropdown-menu 
        {
            top: 200%;
            transition: 0.3s all ease-in-out;
            font-size: small;
        }
        .dropdown:hover>.dropdown-menu 
        {
            display: block;
            top: 100%;
        }

        .dropdown>.dropdown-toggle:active 
        {
            pointer-events: none;
        }

        .btn-hover:hover
        {
            color: #0275d8;
            background-color: white;
        }